
{% extends "card_data/base.html" %}

{% block title %} Database {% endblock %}

{% block page %}
    <h1>Database</h1>
{% endblock %}



{% block content %}

{% if user.is_authenticated %}
    {% if user.is_superuser %}
        <div id='single_id'>
            <div id=photo>
                <img src='{{card.photo.url}}' , style="width:200px;height:270px;"><br>
            </div>
        
            <div id='info'>
                <p>Name:            {{card.first_name}}</p>
                <p>Surname:         {{card.last_name}}</p>
                <p>Sex:             {{card.sex}}</p>
                <p>ID No:           {{card.personal_no}}</p>
                <p>Birth Place:     {{card.birth_place}}</p>
                <p>Birth Date:      {{card.birth_date}}</p>
                <p>Department:      {{card.department}}</p>
                <p>Drivers License: {{card.drivers_license}}</p>
            </div>
        
        </div>
        <form method='GET' action='#'>
            <input type='submit' name='pdf' class='btn btn-success' value='Export To PDF'/><br><br>
            <input type='submit' name='excel' class='btn btn-success' value='Export To Excel'/>

        </form>
    {% endif %}
{% endif %}

{% endblock %}

